@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 6
   Tutorial Case

   Tables Style Sheet
   Author: 
   Date:   

   Filename:         dlr_tables.css

*/

/* Table Styles */
table.schedule{
    background-color: white;
    border:10px groove rgb(153, 0, 153) ;
    width: 100%;
    border-collapse: collapse;
    font-size:0.75em;
}





/* Table Cell Styles */
table th, table td{
    border:1px solid gray;
}

th{
    text-align: center;
}


/* Table Caption Styles */
table.schedule>caption{
    caption-side: bottom;
    text-align: right;
}

/* Row Group Styles */
table.schedule thead{
    background:green;
    color:white;
}

table.schedule tfoot{
    background: black;
    color:white;
}

table.schedule thead tr{
    height: 30px;
}

table.schedule tbody tr{
    height: 40px;
}

/* Column Group Styles */
col#firstCol{
    background:rgb(218, 210, 218);
}

col#dayCols{
    background: rgb(255, 220, 255);
}

