@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 4
   Tutorial Case
   
   Visual Effects Style Sheet for Photo Page at Tree and Book
   Author:
   Date:   
   
   Filename: tb_visual2.css

*/


/* Transformation Styles */

article{
    perspective: 600px;
}

figure#figure1{
    -webkit-filter:sepia(0.8);
    filter:sepia(0.8);
    transform:rotateX(30deg) translateZ(50px);
    box-shadow:rgb(51, 51, 51) 0 18px 25px;
}

 figure#figure2{
     -webkit-filter:grayscale(1);
     filter:grayscale(1);
     transform: rotate(-45deg) scale(0.8, 0.8) translate(20px, -100px)
                rotateX(30deg) rotateY(60deg);
     box-shadow:rgb(101, 101, 101) 10px 10px 25px;
 }

figure#figure3{
    -webkit-filter:saturate(1.5);
    filter:saturate(1.5);
    transform: rotate(15deg) scale(0.8, 0.8) translate(20px, -100px)
                rotatex(330deg) rotatey(300deg);
    box-shadow:rgb(101, 101, 101) 10px 10px 25px;
}


/* Filter Styles */











